/* projects.css */
body {
    background-color: #3a3939; /* Set the background color */
    color: #fff; /* Set the text color */
}

h1 {
    text-align: left;
    margin: 20px 0 20px 50px;
    padding: 10px; /* Add padding to the header */
  }

.project {
    width: 100%;
    max-width: 500px; /* Adjust max-width based on your design preferences */
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .project:hover {
    background-color: #f0f0f0;
  }
  
  .project img {
    max-width: 65%;
    height: auto;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: default;
  }
  
  .portfolio {
    background-color: #3a3939; /* Set the background color */
    color: #fff; /* Set the text color */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Add media query for responsiveness */
  @media (max-width: 768px) {
    .project {
      max-width: 100%; /* Allow for one card per line on smaller screens */
    }
  }
  